.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include onTablet {
      gap: 30px;
    }

    @include onDesktop {
      gap: 60px;
    }
  }

  &__link {
    position: relative;
    color: $white;
    font-family: "Playfair Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;


    cursor: pointer;

    @include onTablet {
      font-size: 48px;
      line-height: 120%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $white;

      transition: transform 0.4s ease-in-out;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
